<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator />
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd' 'HH:mm:ss.SSS} %p %m%n" />

    <appender name="CONSOLE_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_LOG" class="ch.qos.logback.core.FileAppender">
        <file>requests.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="io.kadmos.demo.gateway.logging" level="INFO">
        <appender-ref ref="FILE_LOG" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE_LOG"/>
    </root>
</configuration>